/* Cera Pro */
@font-face {
  font-family: 'Cera Pro';
  src: url('../fonts/CeraPro/CeraPro-Bold.woff2') format('woff2'),
  url('../fonts/CeraPro/CeraPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('../fonts/CeraPro/CeraPro-Thin.woff2') format('woff2'),
  url('../fonts/CeraPro/CeraPro-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('../fonts/CeraPro/CeraPro-Medium.woff2') format('woff2'),
  url('../fonts/CeraPro/CeraPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('../fonts/CeraPro/CeraPro-Light.woff2') format('woff2'),
  url('../fonts/CeraPro/CeraPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('../fonts/CeraPro/CeraPro-Regular.woff2') format('woff2'),
  url('../fonts/CeraPro/CeraPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('../fonts/CeraPro/CeraPro-Black.woff2') format('woff2'),
  url('../fonts/CeraPro/CeraPro-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Cera Pro End */