body {
  color: #3d3d3d;
  background-color: #fff;
  margin: 0 auto;
  font-family: 'Cera Pro', sans-serif;
}
a {
  text-decoration: none;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
header {
  background: #fff;
}
.header {
  padding: 30px 0 12px;
  font-size: 0px;
  vertical-align: top;
}
.header-container {
  border-bottom: 0.3px solid rgba(70,163,88,0.50);
}
.header-logo {
  width: 150px;
}
.header-logo, .header-list, .header-list li, .header-btn {
  display: inline-block;
  vertical-align: top;
}
.header-list {
  width: 950px;
  text-align: center;
}
.header-list li {
  font-size: 16px;
  font-weight: 400;
  line-height: 20.11px;
  margin-top: 8px;
}
.header-list li+li {
  margin-left: 50px;
}
.header-list li.active {
  font-weight: 700;
  border-bottom: 4px solid #46A358;
  padding-bottom: 25px;
}
.header-list li a {
  color: #333;
}
.header-btn {
  width: 100px;
  height: 35px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20.11px;
  padding: 7px 17px 8px;
  text-align: center;
  color: #fff;
  background: #46A358;
  border-radius: 6px;
  margin-bottom: 18px;
}
.header-btn img{
  width: 20px;
  height: 20px;
  vertical-align: middle;
  padding-bottom: 3px;
  margin-right: 4px;
}

/* Header End */

/*** Home Start ***/

.hero-container {
  background-color: #fafafa;
}
.cover {
  font-size: 0;
}
.text-section, .image-section{
  display: inline-block;
  vertical-align: middle;
}
.image-section {
  width: 507px;
  margin: 0;
  padding: 0;
}
.text-section{
  width: 693px;
  padding: 68px 43px 85px;
}
.text-section h1 {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  margin-bottom: 7px;
}
.hero-text {
  font-size: 70px;
  line-height: 70px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.hero-text span {
  color: #46A358;
}
.desc {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #727272;
  margin-bottom: 44px;
}
.hero-btn {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  padding: 11px 27px;
  border-radius: 6px;
  color: #fff;
  background-color: #46A358;
  text-transform: uppercase;
}
/* Home End */
